doctype html 
html(lang='en')
  head
    title Spoonmoose Collectables
    link
  body
    navbar#navBar
      ul#navBarLinks
        li test
        li test
        li test
        li test
        li test
