<div class="gridContainer">

    <div class="box1 box">
        <img class= "mainPicture" src="images/jaimeShirt.jpeg" alt="">
            <button class="buyNowButton" type="button" name="button">
                <h1 class="buttonText">Shop Deals Now</h1>
        </div>

    </div>


    </div>

    <div class="box3 box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex eligendi maiores, nesciunt optio cum placeat alias maxime eius! Dignissimos molestiae expedita voluptatibus ipsum rerum ipsam eveniet fugiat, eius repellat.
    </div>


    <div class="box4 box">
        Box4
    </div>


</div>