<div class="mainHomepageContainer">
    <div class="box1 box">
        <img class= "mainPicture" src="images/jaimeShirt.jpeg" alt="">
            <button class="buyNowButton" type="button" name="button">
            <h1 class="buttonText">Shop Deals Now</h1>
    </div>

    
    
    
    
        <div class="trendingItems box">
            <h3>Trending Products</h3>
            <a target="_blank" href="images/blackCat.jpeg">
            <img class="thumbnails" src="images/blackCat.jpeg" alt="Black Cat T-shirt">

            </a>
            <a target="_blank" href="images/picturesFrame.jpg">
                <img class="thumbnails" src="images/picturesFrame.jpg" alt="Black Cat T-shirt">
            </a>
            <a target="_blank" href="images/towelLarge.jpeg">
                <img class="thumbnails" src="images/towelLarge.jpeg" alt="Black Cat T-shirt">
            </a>
            <a target="_blank" href="images/luigiCandle.jpg">
                <img class="thumbnails" src="images/luigiCandle.jpg" alt="Black Cat T-shirt">
            </a>
        </div>
    
    
        <footer>
            <div class="socialSocial box">
                <a href="https://www.facebook.com/Spoonmoose">
                    <img class="socialMediaLogoI" src="images/facebookLogo.webp" alt="Facebook Link" title="Spoonmoose Facebook">
                </a>
                <a href="#">
                    <img class="socialMediaLogoI" src="images/instagramLogo.webp" alt="Instagram Link" title="Spoonmoose Instagram">
                </a>
                <a href="#">
                    <img class="socialMediaLogoI" src="images/twitterLogo.png" alt="Twitter Link" title="Spoonmoose Twitter">
                </a>
                <p>Don't miss out on anything Spoonmoose! Come follow us on socal media</p>
            </div>
        </footer>
            



</div>