<div class="topContactInformation">
    <p>Got any questions?</p>
    <h2 id="contactSpoonmoose"><b>Contact Spoonmoose</b></h2>
    <p>We're here to help and answer any questions you may have. <br>
        Don't hesitate to ask!
    </p>
</div>

    <div class="questionnaireContainer">
        <form class="questionnaireForm" action="#" method="post">
            <label for="name"></label>Name<br>
            <input type="text" name="formName"><br>
            <label for="email"></label>Email Address<br>
            <input type="text" name="formEmail"><br>
            <label for="message">Message</label>
            <textarea name="message" placeholder="How can we assist you?" rows="8" cols="80"></textarea>
            <br>
            <button type="button" name="button">
                Submit
            </button>
        </form>
    </div>
    <div class="assistanceContainer">
        <h3 id="assistHeader">How Can we assist you?</h3>
        <p>Please write us a message on we could<br>
            Help answer any questions you may have.<br>
            We look very forward to hearing from you!
        </p>
    </div>
