<header>
  <div class="navigation">
    <img class="logo" src="images/companyLogo.jpg" alt="Company Logo" title="SpoonMoose">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li class="dropdown"><a href="#">Products&nbsp;<i class="fa fa-caret-down"></i></a>
          <ul class="dropdown-content">
            <li><a href="#">Mugs</a></li>
            <li><a href="#">T-Shirts</a></li>
            <li><a href="#">Candles</a></li>
          </ul>
        </li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <!-- <li>
            <div class="searchContainer">
                <form action="/action_page.php" method="post">
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><i  class="fa fa-search"></i></button>
                </form>
            </div>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
