<link rel="stylesheet" type="text/css" href="stylesheets/tShirts.css">
<script src="javascript/tShirts.js"type="text/javascript"></script>

<div class="productCardWrapper">
    <div class="productCardContainer">
        <div class="top"></div>
        <div class="bottom">
            <div class="left">
                <div class="details">
                    <h1 id="detailsHeader">Black Cat T-Shirt</h1>
                    <p id="detailsPrice">$10</p>
                </div>
            </div>
            <div class="right">
                    <div class="shoppingCart">
                        <div class="buyWrapper">
                            <button id ="buyNowButton" type="button" name="button">Buy Now!</button>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
