body {
    background-color: white;
}

/*Left side of page. pictures*/
.insideBody {
    position: relative;
    width: 80%;
    min-height: 87vh;
    margin: auto;
    background-image: url("../images/homepageBackground.jpeg");

}

.pictureWall {
    width: 46%;
    text-align: center;
    float: left;
}

.mainPicture {
    width: 700px;
    height: 600px;
}

.thumbnailDiv {
    width: 150px;
    height: 150px;
}


.thumbnails {
    max-width: 80px;
    min-width: 80px;
    min-height: 90px;
    max-height: 90px;
    margin-left: 60px;
    border-radius: 60%;



}
.thumbnails:hover {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
}

h3  {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
}

/*Right side of page. Shop now themes*/

.shopRight {
    position: relative;
    width: 54%;
    float: right;
    min-height: 87vh;
    text-align: center;
}

/*Social Media Links at the bottom.*/

.socialMediaLinks{
    position: absolute;
    top: 95%;

}

/*Facebook Image*/
.socialMediaLogoImg {
    max-width: 30px;
    max-height: 30px;
    margin-right: 15px;
}
