#navBar {
  rgb(250, 250, 210, .05);
  border-style: double;
}

#navBarList {
}


ul {
  text-align: center;


}
li {
  list-style-type: none;
  float: left;
  height: 50px;
  width: 500px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}

li a:link {
  text-decoration: none;

}
